BeetleX.Samples/BeetleX.BaseClient/bin/
BeetleX.Samples/BeetleX.BaseClient/obj/
BeetleX.Samples/BeetleX.BaseServer/bin/
BeetleX.Samples/BeetleX.BaseServer/obj/
BeetleX.Samples/BeetleX.PacketClient/bin/
BeetleX.Samples/BeetleX.PacketClient/obj/
BeetleX.Samples/BeetleX.PacketServer/bin/
BeetleX.Samples/BeetleX.PacketServer/obj/
